@model digitallearningback.Models.Question_group

<h2>@Model.name - 題目設定</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.id, groupname = Model.name })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.FirstOrDefault().text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.FirstOrDefault().point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.FirstOrDefault().tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.FirstOrDefault().pic_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.FirstOrDefault().similar_group)
        </th>
        <th>@Html.Raw("題目選項設定")</th>
        <th>@Html.Raw("題目概念設定")</th>
        <th>@Html.Raw("動作")</th>
        <th>@Html.ActionLink("回課程管理", "Index", "Question_group")</th>
    </tr>

@foreach (var item in Model.Question) {
    <tr>
        <td>
            @Html.Raw(@item.minimalText())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tip)
        </td>
        <td>
            @if (item.pic_path != null)
            {
                <a href="@Html.DisplayFor(modelItem => item.pic_path)">查看</a>
            }
            else
            {
                @Html.Raw("無")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.similar_group)
        </td>
        <td>@Html.ActionLink("選項設定", "Index", "Answers", new { qid = item.id }, null)</td>
        <td>
            @Html.ActionLink("概念設定", "Index", "Question_Concept_Mapping", new { qid = item.id }, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
        <td></td>
    </tr>
}

</table>
