@model digitallearningback.Models.Question
@using digitallearningback.Models
@using digitallearningback.Util
@{ InfoUser user = SessionHelper.getLoginUser(); }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>開始作答</title>
    @Styles.Render("~/Content/Game/Play/GameOn.css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Game/Play/bootstrap.css")
    @Scripts.Render("~/Scripts/Game/bootstrap.min.js")
<script>
    $(document).ready(function () {

        $("#petDialog").hide();
        $("#submit_btn").attr("disabled", false);

        $("#submit_btn").click(function () {

            $("#submit_btn").attr("disabled", true);

            var aid = $('#aid').val();

            if (aid == '' || typeof (aid) === "undefined") {
                alert('請點選開始作答選擇答案');
                $("#submit_btn").attr("disabled", false);
                return;
            } else {

                $.ajax({
                    type: "POST",
                    url: "/Game/Play/CheckAnswer",
                    data: "{said:" + aid + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        
                        if (data.is_correct == '1') {
                            $("#petDialog").html("<p>好棒!答對了</p>");
                            $("#petDialog").show();
                            setTimeout(
                                function () {
                                    $("#question_form").submit();
                                }, 1000
                            )

                        } else {
   
                            $("#petDialog").html("<p>糟糕!答錯了</p>");
                            $("#petDialog").show();

                            setTimeout(
                                function () {
                                    console.log('start setTimeout');
                                    $("#question_detail_body").load("/Game/ModelView/QuestionDetailInfo?qid=" + data.qid + "&selectaid=" + data.id, function (response, status, xhr) {
                                        if (status == "error") {
                                            console.log(' load model question_detail_body error : '+msg + xhr.status + " " + xhr.statusText);
                                        } else {
                                            console.log(' load model question_detail_body success ');
                                            //background 點擊關閉彈跳視窗取消
                                            $('#question_detail_info').modal({ backdrop: 'static', keyboard: false })
                                            $("#question_detail_info").modal('show');
                                        }
                                    });
                                }, 500
                            )
                        }
                        
                    }
                });

            }

        });
    });
</script>
</head>
<body>
    
    <!--  開始作答ModelView框架 -->
    @{
        Html.RenderPartial("_Question_detail");
    }
    <!--  答題錯誤後 顯示正確答案框架 -->
    @{
        Html.RenderPartial("_Question_detail_info");
    }

    <img class="gwd-img-1j4a" src="@Url.Content("~/Images/View_image/background_question.png")" style="">
    <form class="gwd-form-14az"></form>
    <div class="gwd-div-8yx7"></div> <!--題目背景 --> 

    <!-- 答題form表單 答完後接下一題 -->
    <form id="question_form" mehtod="post" action="/Game/Play/GameOn">
        <button type="button" id="submit_btn" class="gwd-button-eu7f" style="">送出</button>
    </form>

    <!-- 頁面傳送的參數 -->
    <input type="hidden" name="aid" id="aid">
    <input type="hidden" name="qid" id="qid" value="@Model.id">

    <!-- 資訊顯示 -->
    <div class="gwd-p-lgvv">
        <!--題目 -->
        @Html.Raw(Model.text)
    </div>

    <!-- 跳出作答視窗開始作答 -->
    <div class="gwd-p-mjfw gwd-p-1m21 gwd-gen-1c1ngwdanimation"></div>
    <input type="button"
           value="開始作答"
           class="gwd-button-fg7z gwd-button-v14w"
           id="question_detail"
           data-toggle="modal"
           href="/Game/ModelView/QuestionDetail?qid=@Model.id"
           data-target="#question_detail">
    <div class="gwd-p-esc7" id="question_info">
        尚未選擇任何選項
    </div>

    <div class="gwd-div-1xr0" style="">
        <!--
        <input type="button" value="答題狀況"
               class="gwd-div-1xr0-btn"
               id="report_button"
               data-toggle="modal"
               href="<%=request.getContextPath()%>/front/question/question_modal_report.jsp"
               data-target="#report">
        -->
        <br>
        <br>
        @Html.Raw("玩家 : "+ @user.character_name)
        <br>
        @Html.Raw("寵物 : " + @user.pet_name)
    </div> <!-- 角色資訊欄位 -->

    <img id="cimage" class="gwd-img-char" src="@user.Character_image1.cimage_path"> <!-- 角色圖 -->
    <img class="gwd-img-pet" src="@user.Character_image2.cimage_path"> <!-- 寵物圖 -->
    <img class="gwd-img-rival" src="@Url.Content("~/Images/View_image/enemy/enemy1.png")">  <!-- 對手圖 -->

    <div class="gwd-div-1mcl" id="petDialog"></div><!-- 寵物對話框 -->

</body>
</html>
