@using digitallearningback.Models
@{
    var groups = ViewBag.groups as List<Question_group>;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>請選擇遊戲課程</title>
    @Styles.Render("~/Content/Game/Play/Index.css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <img class="gwd-img-1j4a" src="@Url.Content("~/Images/View_image/background_login.png")" style="">

    <div class="gwd-div-ilnq" style=""></div>


    @{
        int proindex = 0;
        int top = 0;
    }
    @if (groups != null && groups.Count > 0)
    {
        foreach (var item in groups)
        {
            top = 0;
            top = (proindex * 35) + (proindex * 10) + 129;
            <form method="post" action="/Game/Play/LevelSelect">
                <button type="submit"
                        class="gwd-button-r673 gwd-button-4l0e gwd-button-1k6i "
                        style='left: 4%; top: @top@Html.Raw("px");'>
                    @item.name
                </button>
                <input type="hidden" name="gid" value="@item.id" />
            </form>

            proindex++;
        }
    }
    else
    {
        <font color="red" class="gwd-button-r673 gwd-button-4l0e gwd-button-1k6i" style="left:4%; top:30%;">
            @Html.Raw("目前沒有課程 , 請聯絡您的課程導師")
        </font>
    }


    <p class="gwd-p-lswn" style="top:500px;">
        @ViewBag.error
    </p>


    <div class="gwd-p-xfrq" style="">
        <p>請選擇課程 <a href="~/Files/readme.pdf" target="_blank"><font color="white">點我看系統使用說明</font></a></p>
        <button onclick="window.location='/Login/LoginOut'">登出離開</button>
    </div>
    <!--  <p class="gwd-p-17d8" style="">description</p> -->
    <img class="character_image" style="" src="@ViewBag.charcterimage">
    <img class="pet_image" style="" src="@ViewBag.petimage">


</body>
</html>
