@using digitallearningback.Models
@using digitallearningback.DAO
@{
    var levels = ViewBag.levels as List<Question_level>;
    var logservice = new Answer_Level_LogService();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>請選擇課程關卡</title>
    @Styles.Render("~/Content/Game/Play/LevelSelect.css?date=" + DateTime.Now)
    @Scripts.Render("~/bundles/jquery")
    <script>
        function nextlevel(lid) {
            $('#lid').val(lid);
            $('#formNextLevel').submit();
        }
        function searchPassedUser(lid, level) {
            window.open('/Game/Play/SearchPassedLevelUser?lid=' + lid + '&level=' + level + '&gname=@ViewBag.groupname', 
                '', 'location=yes,width=650,height=600');
        }

    </script>
</head>
<body>
    <img class="gwd-img-1j4a" src="@Url.Content("~/Images/View_image/background_login.png")" style="">

    <div class="gwd-div-ilnq" style="">
        <table 
               class="gwd-button-r673 gwd-button-4l0e gwd-button-1k6i" 
               style='left: 4%; top: 100px;' >
            @foreach (var item in levels)
            {
                <tr>
                    <th style="font-size: 30px;border-bottom: 1px solid ;" >
                        @item.level<font size="2">過關要求: @item.getMinPasspointStarNumber() 顆星</font>
                        <button onclick="nextlevel('@item.id')">開始作答</button><br>
                        @item.getPasspointStar(
                                logservice.selectMaxPasspointByUseridAndLevelid
                                (
                                InfoUser.getLoginUser().id,
                                item.id)) 
                        <a href="#" onclick="searchPassedUser('@item.id','@item.level');"><font size="2">查看有誰過關了</font></a>
                    </th>
                </tr>
            }
        </table>
        <form id="formNextLevel" action="/Game/Play/Nextlevel" method="post">
            <input type="hidden" name="lid" id="lid"/>
        </form>
    </div>

    

    <p class="gwd-p-lswn" style="top:500px;">
        @ViewBag.error
    </p>


    <p class="gwd-p-xfrq" style="color:red;">
    請選擇課程: @ViewBag.groupname -  關卡開始作答
    <br>
    <button onclick="window.location='/Game/Play/Index'">回課程選擇</button>
    </p>


</body>
</html>
