@using digitallearningback.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>請選擇課程關卡</title>
    @Styles.Render("~/Content/Game/Play/Result.css?date=" + DateTime.Now)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Chart.min.js")
    <script>
        $(document).ready(function () {

            $('#title').text('結果計算中請稍後...');


            $.ajax({
                type: "POST",
                url: "/Game/Play/GetResultData",
                data: "{logid:" + @ViewBag.levellogid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $('#title').text('此次測驗獲得的星星數 : '+'@ViewBag.start');

                    //console.log(data);

                    var ctx = document.getElementById('ctx');

                    /*
                    console.log('window h : '+$(window).height());
                    console.log('document h :' +$(document).height());
                    console.log('screeb h :' +screen.height);
                    console.log('ctx h :' +ctx.height);
                    */

                    ctx.height = 400;

                    var labels = [], data1 = [] , data2 = []; //data1: 滿分 , data2 : 得分

                    data.forEach(function (model) {
                        labels.push(model.cname);
                        data1.push(model.fullpoint);
                        data2.push(model.point);
                    });

                    var chart = new Chart(ctx, {
                        type: 'radar',
                        data: {
                            labels: labels,
                            datasets: [
                               /* {
                                    label: "此次測驗各項概念的滿分",
                                    borderColor: 'rgb(72,61,139)',
                                    data: data1,
                                }
                                ,*/
                                {
                                    label: "此次測驗題目概念權重分佈",
                                    borderColor: 'rgb(255,0,0)',
                                    data: data2,
                                }
                            ]
                        },
                        options: {
                            scale: {
                                ticks: {
                                    beginAtZero: true,
                                    max: 100
                                },
                                pointLabels: {
                                    fontSize: 20,
                                }
                            }
                        }
                    });
                }
            });
        })
    </script>
</head>
<body>
    <img class="gwd-img-1j4a" src="@Url.Content("~/Images/View_image/background_login.png")" style="">

    <div class="gwd-div-ilnq">
        <canvas  id="ctx" ></canvas>
    </div>

    

    <div class="gwd-p-lswn" style="top:500px;">
        <button onclick="window.location='/Game/Play/Index'">回課程選擇</button>
    </div>


    <p id="title" class="gwd-p-xfrq" style="">
    </p>


</body>
</html>
