@model digitallearningback.Models.Question
@using digitallearningback.Models
<!DOCTYPE html>
<html>
<head>
<script>
    function onSelectionClick(element,id) {

        var content = '';

        $(element).find('.content').each(function () {
            content = content + $(this).html() + '<br>';
        });

        $("#question_info").html(decodeURI(content));
        $('#aid').val(id);
        $('#question_detail').modal('hide');
    }
</script>
</head>
<body>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            <font size="5" color="blue">
                <b>@Html.Raw(@Model.text)</b>
            </font>
            <br>
            @if (Model.pic_path != null)
            {
                <img src="@Model.pic_path" height="500" width="800">
            }
        </h4>
    </div>
    <div class="modal-body">
        <table border="0" class="table table-hover">
            @{
                int index = 0;
                //Model.Answer.Shuffle(); //打亂順序
             }
            @foreach (var item in Model.Answer)
            {
                index++;
                <tr class="warning" onclick="onSelectionClick(this,'@Html.Raw(item.id)')">
                    <td>@index</td>
                    <td class="content">
                        @if (item.text != null)
                        {
                            @item.text
                        }
                        @if (item.pic_path != null)
                        {

                            <img src="@item.pic_path" width="250" height="200">
                        }
                        <font color="red">@(item.is_correct == 1 ? "*" : "")</font>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
