@model digitallearningback.Models.Question
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="modal-header"> 
        <font size="3" color="red">很抱歉答錯了,底下是正確解答</font>
        <form mehtod="post" action="/Game/Play/GameOn">
            <button type="submit" style="">繼續下一題</button>
        </form>
        <h4 class="modal-title" id="myModalLabel">
            <font size="5" color="blue">
                <b>@Model.text</b>
            </font>
            <br>
            @if (Model.pic_path != null)
            {
                <img src="@Model.pic_path" height="500" width="800">
            }
        </h4>
    </div>
    <div class="modal-body">
        <table border="0" class="table table-hover">
            @{int index = 0;}
            @foreach (var item in Model.Answer)
            {
                        index++;
                <tr class="warning" >
                    <td>@index</td>
                    <td class="content">
                        @if (item.text != null)
                        {
                                @Html.Raw(item.text)
                        }
                        @if (item.pic_path != null)
                        {
                                <img src="@item.pic_path" width="250" height="200">
                        }
                        <font color="blue">@(item.id == ViewBag.selectaid ? "您選擇的答案" : "")</font>
                        <font color="red">@(item.is_correct == 1 ? "正確答案" : "")</font>
                    </td>
                </tr>
            }
        </table>
        <form mehtod="post" action="/Game/Play/GameOn">
            <button type="submit" style="">繼續下一題</button>
        </form>
    </div>
</body>
</html>
