@using digitallearningback.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>請選擇遊戲寵物</title>
    @Styles.Render("~/bundles/Gallery/css")
    @Styles.Render("~/Content/Game/Create/SelectCharacter.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Gallery/js")
    @Scripts.Render("~/Scripts/Game/select_character.js")
</head>
<body>
    <img class="gwd-img-1j4a" src="@Url.Content("~/Images/View_image/background_login.png")" style="">
    
    <div class="gwd-div-ilnq" style=""></div>

    <form method="post" action="/Game/Create/EditChNameAndPetName">
        <button type="submit" class="gwd-button-r673" style="top: 450px;">完成送出</button>
        <input type="hidden" name="char_index" id="char_index">
    </form>

    <button class="gwd-button-r673 gwd-button-4l0e gwd-button-1k6i "
            style='left: 4%; top:129px;'>
        @Html.Raw("請選擇寵物")
    </button>


    <p class="gwd-p-lswn" style="top:500px;"></p>


    <gwd-gallerynavigation id="gwd-gallerynavigation_1" class="gwd-gallerynavigation-15zl" for="gwd-swipegallery_1" data-gwd-name="gwd-swipegallery" highlight="rgba(38,158,209,1)"></gwd-gallerynavigation>
    <p class="gwd-p-xfrq" style="">請選擇寵物</p>
    <p class="gwd-p-17d8" style="">提示:滑鼠左右滑動圖片可以切換寵物造型喔!選定好喜歡的造型後按"完成送出"即可</p>

    <gwd-swipegallery id="gwd-swipegallery_1" scaling="contain" class="gwd-swipegallery-algo"
                      images="@ViewBag.imagepaths"
                      data-gwd-name="gwd-swipegallery" has-navigation="">
    </gwd-swipegallery>


</body>
</html>
