@model IEnumerable<digitallearningback.Models.Character_image>
@using digitallearningback.Models
@{ 
    var prolist = ViewBag.prolist as List<Cimage_profession>;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>請選擇遊戲角色</title>
    @Styles.Render("~/bundles/Gallery")
    @Styles.Render("~/Content/Game/SelectCharacter.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Gallery")
    @Scripts.Render("~/Scripts/Game/select_character.js")
</head>
<body>

    <img class="gwd-img-1j4a" src="@Url.Content("~/Images/View_image/background_login.png")" style="">
    
    <div class="gwd-div-ilnq" style=""></div>

    <form method="post" action="<%=request.getContextPath()%>/front/user/User_controller_new.do">
        <button type="submit" class="gwd-button-r673" style="top: 450px;">完成送出</button>
        <input type="hidden" name="action" value="character_selected">
        <input type="hidden" name="char_index" id="char_index">
    </form>

    @{
        int proindex = 0;
        int top = 0;
     }
    @foreach (var item in prolist)
    {
        top = 0;
        top = (proindex * 35) + (proindex * 10) + 129;
        @Html.BeginForm("Create", "Character_image", FormMethod.Post)
        {
            <button type="submit" 
                    class="gwd-button-r673 gwd-button-4l0e gwd-button-1k6i " 
                    style="left: 4%; top: @top px;">
               @item.cprofession_title
            </button>
            <input type="hidden" name="professionid" value="@item.cprofession_id">
        }
        proindex ++;
    }



    <gwd-gallerynavigation id="gwd-gallerynavigation_1" class="gwd-gallerynavigation-15zl" for="gwd-swipegallery_1" data-gwd-name="gwd-swipegallery" highlight="rgba(38,158,209,1)"></gwd-gallerynavigation>
    <p class="gwd-p-xfrq" style="">請選擇角色職業</p>
    <!--  <p class="gwd-p-17d8" style="">description</p> -->

    <gwd-swipegallery id="gwd-swipegallery_1" scaling="contain" class="gwd-swipegallery-algo"
                      images="@ViewBag.imagepath"
                      data-gwd-name="gwd-swipegallery" has-navigation="">
    </gwd-swipegallery>


</body>
</html>
