@model IEnumerable<digitallearningback.Models.Question_group>

@{
    ViewBag.Title = "Index";
}

<h2>課程管理</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester)
        </th>
        <th>
            @Html.Raw("課程資料維護")
        </th>
        <th>
            @Html.Raw("課程題目設定")
        </th>
        <th>
            @Html.Raw("課程關卡設定")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semester)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
        <td>
            @Html.ActionLink("題目設定", "Index", "Questions", new { id = item.id}, null)
        </td>
        <td>
            @Html.ActionLink("關卡設定", "Index", "Question_level", new { id = item.id },null)
        </td>
    </tr>
}

</table>
