@using digitallearningback.Models
@model digitallearningback.Models.vw_DataAnalysisIndexInfo
@{
    var infolist = ViewBag.infolist as List<vw_DataAnalysisIndexInfo>;
}
<h2>遊戲式前台資料分析</h2>
<p>分析的資料僅蒐集學生的帳號,不含老師帳號以及測試帳號</p>
<br>
<p>系統使用率</p>
<table class="table">
    <tr>
        <th>學生總人數</th> 
        <th>系統登入次數</th>
        <th>有幾位學生開始作答了</th>
    </tr>
    <tr>
        <td>@Html.Raw(Model.stdcount)</td>
        <td>@Html.Raw(Model.logincount)</td>
        <td>@Html.Raw(Model.stdusagcount)  /  @Html.Raw(Model.percentage)</td>
    </tr>
</table>


<p>關卡資料分析-查看學生作答資料請點選欲查看的關卡:</p>
<table class="table">
    <tr>
        <th>
            <font size="2">@Html.Raw("關卡名稱")</font>
        </th>
        <th>
            <font size="2">@Html.Raw("幾位學生玩此關卡了")</font>
        </th>
        <th>
            <font size="2">@Html.Raw("只玩一次的學生人數")</font>
        </th>
        <th>
            <font size="2">@Html.Raw("玩超過一次的學生人數")</font>
        </th>
        <th></th>
    </tr>

    @foreach (var info in infolist)
    {
       
            <tr>
                <td>
                    @info.qlevel
                </td>
                <td>
                    @info.levelcount
                </td>
                <td>
                    @info.oncelevelcount / @info.oncespercentage
                </td>
                <td>
                    @info.multiplelevelcount  / @info.multiplepercentage
                </td>
                <td>
                    <a href="/Admin/DataAnalysis/Details?lid=@info.id&level=@info.qlevel">作答次數詳細資料分析</a>
                </td>
            </tr>
    }

</table>


