@model digitallearningback.Models.Question
@using digitallearningback.Models
@{
    var conceptlist = ViewBag.conceptlist as List<vw_QuestionConceptDetail>;
}

<h2>題目概念設定</h2>
@{
    if (Model != null && Model.text != null)
    {
        <p>@Model.text</p>
    }
    if (Model != null && Model.pic_path != null)
    {
        <img src="@Model.pic_path"  height="200" width="400">
    }
}
<p>
    @Html.ActionLink("Create New", "Create",new { qid = Model.id , qtext = Model.minimalText() })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => conceptlist.FirstOrDefault().q_percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => conceptlist.FirstOrDefault().c_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => conceptlist.FirstOrDefault().c_percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => conceptlist.FirstOrDefault().g_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => conceptlist.FirstOrDefault().g_percentage)
        </th>
        <th></th>
        <th>@Html.ActionLink("回題目管理", "Index", "Questions",new { id = Model.Question_group.id} , null)</th>
    </tr>

@foreach (var item in conceptlist) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.q_percentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_percentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.g_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.g_percentage)
        </td>
    </tr>
}

</table>
