@model digitallearningback.Models.Character_image

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Character_image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cimage_path)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.cimage_path)">查看</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cimage_gander)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cimage_gander)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cimage_mood1.cmood_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cimage_mood1.cmood_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cimage_profession1.cprofession_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cimage_profession1.cprofession_title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
