@model IEnumerable<digitallearningback.Models.Character_image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cimage_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cimage_gander)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cimage_joindate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cimage_mood1.cmood_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cimage_profession1.cprofession_title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cimage_path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cimage_gander)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cimage_joindate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cimage_mood1.cmood_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cimage_profession1.cprofession_title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cimage_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cimage_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cimage_id })
        </td>
    </tr>
}

</table>
