@model digitallearningback.Models.Question_level


<h2>@ViewBag.groupname - 關卡建立</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <input type="hidden" name="groupname" value="@ViewBag.groupname" />
        <input type="hidden" name="group_id" value="@ViewBag.group_id" />

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.levelorder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.levelorder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.levelorder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.level, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.level, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.level, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isvisible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.isvisible, 1)  是
                @Html.RadioButtonFor(model => model.isvisible, 0)  否
                @Html.ValidationMessageFor(model => model.isvisible, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passpoint, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="passpoint" id="passpoint" class="form-control">
                    <option value="0">不設限</option>
                    <option value="100">五顆星</option>
                    <option value="90">四顆星</option>
                    <option value="80">三顆星</option>
                    <option value="70">二顆星</option>
                    <option value="60">顆星</option>
                </select>
                @Html.ValidationMessageFor(model => model.israndom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correctqnumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correctqnumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correctqnumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.group_id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
