@model digitallearningback.Models.Question_level

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question_level</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joindate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joindate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isvisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isvisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.israndom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.israndom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalqnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalqnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correctqnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correctqnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.awardmoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.awardmoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.awardexperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.awardexperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromquestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromquestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toquestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toquestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_group.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_group.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
