@model digitallearningback.Models.Question_group

<h2> @Model.name - 關卡設定</h2>
<p>
    @Html.ActionLink("Create New", "Create",new { id = Model.id , groupname = Model.name})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question_level.FirstOrDefault().levelorder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question_level.FirstOrDefault().level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question_level.FirstOrDefault().isvisible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question_level.FirstOrDefault().israndom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question_level.FirstOrDefault().correctqnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question_level.FirstOrDefault().awardmoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question_level.FirstOrDefault().awardexperience)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Question_level.OrderBy(l => l.levelorder)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.levelorder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.level)
        </td>
        <td>
            @(item.isvisible == 1 ? "是" : "否")
        </td>
        <td>
            @(item.israndom == 1 ? "是" : "否")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correctqnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awardmoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awardexperience)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id})
        </td>
    </tr>
}

</table>
