@model IEnumerable<digitallearningback.Models.Question_level>

<h2> @ViewBag.groupname - 關卡設定</h2>
<p>
    @Html.ActionLink("Create New", "Create",new { id = ViewBag.group_id , groupname  = ViewBag.groupname })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.levelorder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isvisible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.israndom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correctqnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.awardmoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.awardexperience)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.levelorder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.level)
        </td>
        <td>
            @(item.isvisible == 1 ? "是" : "否")
        </td>
        <td>
            @(item.israndom == 1 ? "是" : "否")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correctqnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awardmoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awardexperience)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
